<section class="w-100 px-4 py-5" style="background-color: #051537;">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="flex-shrink-0 mb-3 mb-md-0">
              <%= image_tag "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp", alt: "Generic placeholder image", class: "img-fluid", style: "width: 180px; border-radius: 10px;" %>
            </div>
            <div class="flex-grow-1 ms-md-3">
              <h5 class="mb-1 pb-1"><%= current_user.name %></h5>
              <p class="mb-0"><%= current_user.role %></p>
              <p class="mb-0"><%= current_user.email %></p>
              <p class="mb-0"><%= current_user.mobile_no %></p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                <div class="me-3">
                  <p class="small text-muted mb-1">Articles</p>
                  <p class="mb-0"><%= current_user.articles.count %></p>
                </div>
                <div class="me-3">
                  <p class="small text-muted mb-1">Comments</p>
                  <%= current_user.articles.joins(:comments).count %>
                </div>
                <div>
                  <p class="small text-muted mb-1">Member Since</p>
                  <p class="mb-0"> <%= current_user.created_at.year %> </p>
                </div>
              </div>

              <div class="d-flex pt-1">
                <%= link_to edit_user_registration_path, class: "btn btn-outline-02 flex-grow-1", data: { mdb_button_init: true, mdb_ripple_init: true } do %>
                  Update Profile
                <% end %>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>